<div data-sly-use.xmlexporter="com.firstdemo.core.models.XmlExporter"></div>
<!-- Basic Card Example -->
 <div class="card shadow mb-4">
     <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">${card.title}</h6>
     </div>
     <div class="card-body">
         <p>Title : <b>${xmlexporter.title}</b></p>
         <p>Description :<b>${xmlexporter.description}</b></p>
         <p> Date : <b>${'MMM dd,yyyy' @ format=xmlexporter.date}</b> </p>

         ================== USING LIST ================
         <div data-sly-list.item="${xmlexporter.books}">
             <p> Book ${itemList.count} : <b>${item} </b></p>
         </div>

     </div>
 </div>